Repository Umpah-swim-wave/i-O-Swimmer, pull requests merged in 2021-08, with the labels that each got.

#15 Feature/12 remove all
  Umpah-iOS/Umpah-iOS.xcodeproj/project.pbxproj
  Umpah-iOS/Umpah-iOS/Resource/Info.plist
  Umpah-iOS/Umpah-iOS/Resource/Storyboards/Analysis.storyboard
  Umpah-iOS/Umpah-iOS/Resource/Storyboards/Main.storyboard
  Umpah-iOS/Umpah-iOS/Resource/Storyboards/Routine.storyboard
  Umpah-iOS/Umpah-iOS/Resource/Storyboards/Tabbar.storyboard
  Umpah-iOS/Umpah-iOS/Resource/Xibs/HomeSelectRouteCVC.xib
  Umpah-iOS/Umpah-iOS/Resource/Xibs/HomeTodayRouteCVC.xib
  Umpah-iOS/Umpah-iOS/Source/Extensions/Encodable+.swift
  Umpah-iOS/Umpah-iOS/Source/Extensions/Extension+UICollectionView.swift
  Umpah-iOS/Umpah-iOS/Source/Extensions/Extension+UIView.swift
  Umpah-iOS/Umpah-iOS/Source/Extensions/UIApplication+.swift
  Umpah-iOS/Umpah-iOS/Source/Extensions/UIScreen+.swift
  Umpah-iOS/Umpah-iOS/Source/Extensions/UITextField+.swift
  Umpah-iOS/Umpah-iOS/Source/Extensions/UIView+.swift
  Umpah-iOS/Umpah-iOS/Source/Extensions/UIViewController+.swift
  Umpah-iOS/Umpah-iOS/Source/Extensions/UIWindow+.swift
  Umpah-iOS/Umpah-iOS/Source/ViewControllers/MainVC.swift
  Umpah-iOS/Umpah-iOS/Source/ViewControllers/RoutineVC.swift
  Umpah-iOS/Umpah-iOS/Source/Views/Cells/HomeSelectRouteCVC.swift
  Umpah-iOS/Umpah-iOS/Source/Views/Cells/HomeTodayRouteCVC.swift
  Umpah-iOS/Umpah-iOS/Source/Views/Components/HomeScene/DetailedRoutineView.swift
  Umpah-iOS/Umpah-iOS/Source/Views/Components/HomeScene/HomeEmptyRouteView.swift
  Umpah-iOS/Umpah-iOS/Source/Views/Components/HomeScene/HomeMainHeaderView.swift
  Umpah-iOS/Umpah-iOS/Source/Views/Components/HomeScene/HomeSelectRouteHeaderView.swift
  Umpah-iOS/Umpah-iOS/Source/Views/VCs/DetailedRoutineVC.swift
  Umpah-iOS/Umpah-iOS/Source/Views/VCs/HomeVC.swift
  Umpah-iOS/Umpah-iOS/Source/Views/VCs/TabbarController.swift
Labels: Review Required, 윤아🏊🏻

#18 Feature/13 main layout
  Umpah-iOS/Components/Main/RectangularDashedView.swift
  Umpah-iOS/Podfile
  Umpah-iOS/Podfile.lock
  Umpah-iOS/Umpah-iOS.xcodeproj/project.pbxproj
  Umpah-iOS/Umpah-iOS/Source/ViewControllers/MainVC.swift
Labels: P0, Review Required🖐, 윤아🏊🏻, Main🐬

#21 Feature/19 state normal
  Umpah-iOS/Cells/Main/TypeCell.swift
  Umpah-iOS/Components/Main/ExpandedStateView.swift
  Umpah-iOS/Components/Main/NormalStateView.swift
  Umpah-iOS/Podfile
  Umpah-iOS/Podfile.lock
  Umpah-iOS/Umpah-iOS.xcodeproj/project.pbxproj
  Umpah-iOS/Umpah-iOS/Source/Extensions/Charts+.swift
  Umpah-iOS/Umpah-iOS/Source/Extensions/UILabel+.swift
  Umpah-iOS/Umpah-iOS/Source/ViewControllers/MainVC.swift
Labels: P0, Review Required🖐, 윤아🏊🏻, Main🐬

#23 Feature/16 basic routine view layout
  .github/.gitmessage.txt
  Umpah-iOS/Cells/RoutineScene/RoutineItemTVC.swift
  Umpah-iOS/Cells/RoutineScene/RoutineSetTVC.swift
  Umpah-iOS/Components/Shared/XmarkButton.swift
  Umpah-iOS/Podfile.lock
  Umpah-iOS/Umpah-iOS.xcodeproj/project.pbxproj
  Umpah-iOS/Umpah-iOS/Resource/Xibs/RoutineScene/RoutineItemTVC.xib
  Umpah-iOS/Umpah-iOS/Resource/Xibs/RoutineScene/RoutineSetTVC.xib
  Umpah-iOS/Umpah-iOS/Source/Extensions/RoutineItemDataModel.swift
  Umpah-iOS/Umpah-iOS/Source/Extensions/UITableView+.swift
  Umpah-iOS/Umpah-iOS/Source/ViewControllers/RoutineVC.swift
Labels: P0, Review Required🖐, 혜령🏊🏻‍♂️, Routine🌊

#24 Feature/22 fa
  Umpah-iOS/GoogleService-Info.plist
  Umpah-iOS/Podfile
  Umpah-iOS/Podfile.lock
  Umpah-iOS/Umpah-iOS.xcodeproj/project.pbxproj
  Umpah-iOS/Umpah-iOS/Source/Extensions/UIWindow+.swift
  Umpah-iOS/Umpah-iOS/Source/Supports/AppDelegate.swift
Labels: enhancement, Review Required🖐, 윤아🏊🏻
