Repository Umpah-swim-wave/i-O-Swimmer, pull requests merged in 2022-02, with the labels that each got.

#64 [REFACTOR] Folder structure 및 API 추가
  Umpah-iOS/Umpah-iOS.xcodeproj/project.pbxproj
  Umpah-iOS/Umpah-iOS/Global/Enum/States.swift
  Umpah-iOS/Umpah-iOS/Network/APIServices/RecordService.swift
  Umpah-iOS/Umpah-iOS/Network/Foundation/GeneralAPI.swift
  Umpah-iOS/Umpah-iOS/Network/Foundation/NetworkLoggerPlugin.swift
  Umpah-iOS/Umpah-iOS/Network/Model/Record/CommonRecordRequest.swift
  Umpah-iOS/Umpah-iOS/Network/Model/Record/RoutineDataModel.swift
  Umpah-iOS/Umpah-iOS/Network/Model/Record/SwimmingDataModel.swift
  Umpah-iOS/Umpah-iOS/Network/Model/Record/SwimmingRecordRequest.swift
  Umpah-iOS/Umpah-iOS/Network/Model/Record/WeekRecordRequest.swift
  Umpah-iOS/Umpah-iOS/Network/Storage/RecordStorage.swift
  Umpah-iOS/Umpah-iOS/Network/Storage/RoutineStorage.swift
  Umpah-iOS/Umpah-iOS/Network/Storage/RoutineStorageType.swift
  Umpah-iOS/Umpah-iOS/Network/Storage/SwimmingDataStorage.swift
  Umpah-iOS/Umpah-iOS/Source/ViewControllers/MainVC.swift
  Umpah-iOS/Umpah-iOS/Source/ViewControllers/SelectedRangeVC.swift
Labels: Refactor, 윤아🏊🏻

#66 [CHORE] 기록탭 디자인 QA 반영
  Umpah-iOS/Umpah-iOS/Source/ViewControllers/MainVC.swift
  Umpah-iOS/Umpah-iOS/Source/ViewControllers/SelectedStrokeVC.swift
  Umpah-iOS/Umpah-iOS/Source/Views/Cells/Popup/StrokesTVC.swift
  Umpah-iOS/Umpah-iOS/Source/Views/Components/Popup/StrokesView.swift
Labels: Review Required🖐, 윤아🏊🏻, Main🐬

#68 [CHORE] 루틴탭 디자인 QA 수정
  Umpah-iOS/Umpah-iOS/Global/Extensions/UILabel+.swift
  Umpah-iOS/Umpah-iOS/Network/Model/Record/RoutineDataModel.swift
  Umpah-iOS/Umpah-iOS/Resource/Assets.xcassets/ic_trash.imageset/Contents.json
  Umpah-iOS/Umpah-iOS/Resource/Assets.xcassets/ic_trash.imageset/ic_trash.png
  Umpah-iOS/Umpah-iOS/Resource/Assets.xcassets/ic_trash.imageset/ic_trash@2x.png
  Umpah-iOS/Umpah-iOS/Resource/Assets.xcassets/ic_trash.imageset/ic_trash@3x.png
  Umpah-iOS/Umpah-iOS/Source/ViewControllers/MainVC.swift
  Umpah-iOS/Umpah-iOS/Source/Views/Cells/Main/RoutineTVC.swift
Labels: Review Required🖐, 윤아🏊🏻, Routine🌊

#70 [CHORE] 상세 루틴 뷰 디자인 QA 반영
  Umpah-iOS/Umpah-iOS/Network/Storage/RoutineStorage.swift
  Umpah-iOS/Umpah-iOS/Source/ViewControllers/RoutineVC.swift
  Umpah-iOS/Umpah-iOS/Source/Views/Cells/Routine/RoutineItemTVC.swift
  Umpah-iOS/Umpah-iOS/Source/Views/Cells/Routine/RoutineSetTVC.swift
Labels: Review Required🖐, 윤아🏊🏻, Routine🌊

#72 [BUG] 루틴, 기록 뷰 탭 고정되는 오류 고침
  Umpah-iOS/Umpah-iOS/Source/ViewControllers/MainVC.swift
  Umpah-iOS/Umpah-iOS/Source/Views/Components/Main/HeaderView.swift
Labels: Review Required🖐, 윤아🏊🏻, Main🐬, Routine🌊, Record💦, BugFix🛠

#75 [REFACTOR] Folder Structure 수정
  Umpah-iOS/Umpah-iOS.xcodeproj/project.pbxproj
  Umpah-iOS/Umpah-iOS.xcodeproj/xcshareddata/xcschemes/Umpah-iOS WatchKit App (Complication).xcscheme
  Umpah-iOS/Umpah-iOS.xcodeproj/xcshareddata/xcschemes/Umpah-iOS WatchKit App.xcscheme
  Umpah-iOS/Umpah-iOS/Global/Utils/HealthKitSetupAssistant.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Cell/Popup/StrokesTVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Cell/Record/ChartTVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Cell/Record/DateTVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Cell/Record/DetailTVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Cell/Record/FilterCVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Cell/Record/FilterTVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Cell/Record/InsideStrokeTVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Cell/Record/StrokeTVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Cell/Routine/RoutineTVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Cell/Sheet/ExpandedDayTVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Cell/Sheet/ExpandedWeekTVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Popup/RangeButton.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Popup/RangeView.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Popup/StrokesView.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Record/DetailView.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Record/HeaderView.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Record/StrokeView.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Record/TopView.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Sheet/CardView.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Sheet/DayHeader.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Sheet/ExpandedStateView.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Sheet/NormalStateView.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Sheet/RoutineFilterView.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Sheet/SelectedStrokeView.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Sheet/WeekMonthHeader.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Controller/MainVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Controller/SelectedRangeVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Controller/SelectedStrokeVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Routine/Cell/ModifyElementTVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Routine/Cell/RoutineItemTVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Routine/Cell/RoutineSetTVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Routine/Controller/ModifyElementVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Routine/Controller/RoutineVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Routine/ViewModel/RoutineViewModel.swift
  Umpah-iOS/Umpah-iOS/Screen/Routine/ViewModel/SwimmingDataViewModel.swift
  Umpah-iOS/Umpah-iOS/Screen/Shared/Component/StatusBar.swift
  Umpah-iOS/Umpah-iOS/Screen/Shared/Component/XmarkButton.swift
Labels: Refactor, Review Required🖐, 윤아🏊🏻

#76 [REFACTOR] MainVC 리팩토링 진행
  Umpah-iOS/Umpah-iOS.xcodeproj/project.pbxproj
  Umpah-iOS/Umpah-iOS/Global/Base/BaseViewController.swift
  Umpah-iOS/Umpah-iOS/Global/Enum/States.swift
  Umpah-iOS/Umpah-iOS/Global/Extensions/Date+.swift
  Umpah-iOS/Umpah-iOS/Global/Extensions/NSObject+.swift
  Umpah-iOS/Umpah-iOS/Global/Protocol/SelectedButtonDelegate.swift
  Umpah-iOS/Umpah-iOS/Global/Protocol/SelectedRangeDelegate.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Cell/Record/ChartTVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Cell/Record/DateTVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Cell/Record/DetailTVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Cell/Record/FilterCVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Cell/Record/FilterTVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Cell/Record/InsideStrokeTVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Cell/Record/StrokeTVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Cell/Routine/RoutineTVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Cell/Sheet/ExpandedDayTVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Record/StrokeView.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Sheet/CardView.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Sheet/ExpandedStateView.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Controller/MainCardVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Controller/MainTableVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Controller/MainVC.swift
Labels: Refactor, Review Required🖐, 윤아🏊🏻

#78 [REFACTOR] Record 부분 Component View 코드 수정
  Umpah-iOS/Umpah-iOS.xcodeproj/project.pbxproj
  Umpah-iOS/Umpah-iOS/Screen/Main/Cell/Record/InsideStrokeTVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Record/DetailView.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Record/HeaderView.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Record/StrokeHeaderView.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Record/StrokeView.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Record/TopView.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Controller/MainVC.swift
Labels: Refactor, Review Required🖐, 윤아🏊🏻, Record💦

#80 [REFACTOR] Popup 뷰 리팩토링
  Umpah-iOS/Umpah-iOS.xcodeproj/project.pbxproj
  Umpah-iOS/Umpah-iOS/Global/Base/BaseView.swift
  Umpah-iOS/Umpah-iOS/Global/Extensions/UIStackView+.swift
  Umpah-iOS/Umpah-iOS/Global/Extensions/UIViewController+.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Cell/Popup/SelectedStrokeTVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Popup/RangeButton.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Popup/RangeView.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Popup/SelectedRangeView.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Popup/SelectedStrokeView.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Sheet/CardBottomButtonView.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Sheet/ExpandedStateView.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Controller/MainTableVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Controller/SelectedRangeVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Controller/SelectedStrokeVC.swift
Labels: Refactor, Review Required🖐, 윤아🏊🏻, Main🐬

#82 [REFACTOR] CardView 리팩토링 진행
  Umpah-iOS/Umpah-iOS.xcodeproj/project.pbxproj
  Umpah-iOS/Umpah-iOS/Global/Enum/States.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Cell/Sheet/ExpandedDayTVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Cell/Sheet/ExpandedWeekTVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Sheet/CardBottomButtonView.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Sheet/CardView.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Sheet/DayHeader.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Sheet/ExpandedStateTableView.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Sheet/ExpandedStateView.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Sheet/NormalStateView.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Sheet/RoutineFilterView.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Sheet/WeekMonthHeader.swift
Labels: Refactor, Review Required🖐, 윤아🏊🏻, Main🐬, Routine🌊

#84 [REFACTOR] BaseView를 Record component에 추가
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Record/DetailView.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Record/HeaderView.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Record/StrokeHeaderView.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Record/StrokeView.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Record/TopView.swift
Labels: Refactor, Review Required🖐, 윤아🏊🏻, Main🐬, Routine🌊, Record💦

#87 [BUG] 반 뷰 QA 해결
  Umpah-iOS/Umpah-iOS.xcodeproj/xcshareddata/xcschemes/Umpah-iOS WatchKit App (Complication).xcscheme
  Umpah-iOS/Umpah-iOS.xcodeproj/xcshareddata/xcschemes/Umpah-iOS WatchKit App.xcscheme
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Sheet/CardView.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Sheet/ExpandedStateView.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Sheet/RoutineFilterView.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Controller/MainCardVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Controller/MainVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Routine/Controller/ModifyElementVC.swift
Labels: Review Required🖐, 윤아🏊🏻, BugFix🛠

#88 [FIX] 루틴상세뷰, element 수정 뷰 디자인 QA 반영
  Umpah-iOS/Umpah-iOS.xcodeproj/xcshareddata/xcschemes/Umpah-iOS WatchKit App (Complication).xcscheme
  Umpah-iOS/Umpah-iOS.xcodeproj/xcshareddata/xcschemes/Umpah-iOS WatchKit App.xcscheme
  Umpah-iOS/Umpah-iOS/Network/Model/Record/RoutineDataModel.swift
  Umpah-iOS/Umpah-iOS/Resource/Storyboards/Routine.storyboard
  Umpah-iOS/Umpah-iOS/Screen/Main/Cell/Routine/RoutineTVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Sheet/ExpandedStateTableView.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Component/Sheet/ExpandedStateView.swift
  Umpah-iOS/Umpah-iOS/Screen/Main/Controller/MainVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Routine/Cell/ModifyElementTVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Routine/Cell/RoutineItemTVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Routine/Cell/RoutineSetTVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Routine/Controller/ModifyElementVC.swift
  Umpah-iOS/Umpah-iOS/Screen/Routine/Controller/RoutineVC.swift
Labels: Review Required🖐, 혜령🏊🏻‍♂️, Routine🌊, BugFix🛠
